<?xml version="1.0" encoding="utf-8"?>
<SerialPortConfigurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SerialPortConfiguration>
    <PortName>COM9</PortName>
    <BaudRate>9600</BaudRate>
    <Parity>None</Parity>
    <ParityReplace>63</ParityReplace>
    <DataBits>8</DataBits>
    <StopBits>One</StopBits>
    <Handshake>None</Handshake>
    <DiscardNull>false</DiscardNull>
    <DtrEnable>false</DtrEnable>
    <RtsEnable>false</RtsEnable>
    <ReadBufferSize>4096</ReadBufferSize>
    <WriteBufferSize>2048</WriteBufferSize>
    <ReceivedBytesThreshold>1</ReceivedBytesThreshold>
  </SerialPortConfiguration>
</SerialPortConfigurationSettings>